* {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(43, 43, 43, 1);
}



@font-face {
    font-family: "spaceMono";
    src: url("SpaceMono-Regular.ttf");
}



@font-face {
    font-family: "workSans";
    src: url("WorkSans-Regular.ttf");
}


.workSans {
    font-family: "workSans";
}


.spaceMono {
    font-family: "spaceMono";
}




.background1{
    background-repeat: no-repeat;
    background-image: url("2.png");
    background-size: cover;
}

.background2{
    background-image: linear-gradient(180deg, rgba(162, 89, 255, 0),
    rgba(162, 89, 255, 1));
    opacity: 0.5;
}


.inp::placeholder {
    font-family: "workSans";
    font-weight: 400;
    color: rgba(43, 43, 43, 1);
}



.collectibles {
    background-image: url("Image\ Placeholder\ Collectibles.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}


.art {
    background-image: url("Image\ Placeholder\ Art.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}



.music {
    background-image: url("Image\ Placeholder\ Music.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}


.photography {
    background-image: url("Image\ Placeholder\ Photography.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}


.video {
    background-image: url("Image\ Placeholder\ Video.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}



.utility {
    background-image: url("Image\ Placeholder\ Utility.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}


.sport {
    background-image: url("Image\ Placeholder\ Sport.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}




.virtualWorlds {
    background-image: url("Image\ Placeholder\ Virtual\ Worlds.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px)  saturate(113%);
}
